<template>
  <div>
    <div class="lobby" v-if="!game">
      <div class="header">
        <button class="logout" @click="logout()">Logout</button>
      </div>
      <game-over :won="this.won" v-if="gameEnded" @resetGame="resetData()"></game-over>

      <div class="roomOptions" v-if="!gameEnded">
        <h1>Battlemons</h1>

        <div class="join-room" v-if="!joinedRoom">
          <p>Join a room and battle your friends !</p>
          <input type="text" id="gameName" placeholder="room code" v-model="roomName" />
          <button @click="joinroom()">Join room</button>
          <p
            class="error-message"
            v-if="errormessage != ''"
            @click="errormessage = ''"
          >{{errormessage}}</p>
        </div>
        <div class="new-room" v-if="!joinedRoom">
          <button @click="createRoom()">Or create a new room</button>
        </div>

        <div class="wait" v-if="joinedRoom">
          <p>Copy the code and send them to your friends:</p>
          <p>
            <span>{{ roomName }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="game" v-if="game">
      <div class="field-left" v-if="!isChoosePokemonModalVisible">
        <user-field :pokemon="userPokemon"></user-field>
      </div>
      <div class="field-right">
        <opponent-field :pokemon="opponentPokemon" v-if="!isChoosePokemonModalVisible"></opponent-field>
      </div>
      <choosepokemon-menu
        v-show="isChoosePokemonModalVisible"
        @selectPokemon="getSelectedPokemon"
        @apiError="apiAvailable = false"
      ></choosepokemon-menu>
      <div class="ApiError" v-if="!apiAvailable">
        Oops! Looks like our api is currently unavailable.
        <br />We will resolve this as soon as possible.
      </div>
      <action-menu @show="showModal" :actionSelected="this.actionSelected" :msg="this.msg"></action-menu>
      <moves-menu
        :pokemon="userPokemon"
        v-show="isMoveModalVisible"
        @close="closeModal"
        @useMove="send"
      ></moves-menu>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  sockets: {
    room: function(data) {
      console.log(data);
    },
    turnResponse: function(data) {
      if (!this.gameEnded) {
        // if it's your pokemon who took dmg
        if (data.id == this.clientid) {
          this.opponentPokemon.hp = data.pokemon.hp;
        } else {
          this.userPokemon.hp = data.pokemon.hp;
        }

        if (data.pokemon.fainted) {
          this.msg = data.pokemon.name + " has fainted !";

          if (data.id == this.clientid) {
            this.won = true;
          }

          this.endGame();
        } else {
          this.msg =
            data.pokemon.name + " went down to " + data.pokemon.hp + " health.";
        }
      }
    },
    uid: function(data) {
      this.clientid = data;
      this.joinedRoom = true;
    },
    startGame: function(data) {
      this.game = true;
    },
    fullRoom: function(data) {
      console.log("Room is full");
      this.errormessage =
        "The room you're trying to join is full, please try another.";
    },
    pokemonSelected: function(data) {
      // set selected pokemon depending on if it's their user id
      if (data.id == this.clientid) {
        this.userPokemon = data.pokemon;
      } else {
        this.opponentPokemon = data.pokemon;
      }

      // If both pokemon have been selected, hide the modal
      if (this.userPokemon.id != null && this.opponentPokemon.id != null) {
        this.isChoosePokemonModalVisible = false;
      }
    },
    waitingForMove: function(data) {
      // Add the action in the queue for the opponent.
      if (data[0].id != this.clientid) {
        this.turnActions.push(data[0]);
        console.log(this.turnActions);
      }
    },
    emptyActions: function(data) {
      this.actionSelected = false;
      this.turnActions = [];
    },
    endGame: function(data) {
      this.won = true;
      this.endGame();
    }
  },
  name: "battle",
  data() {
    return {
      userPokemon: {},
      opponentPokemon: {},
      isMoveModalVisible: false,
      isChoosePokemonModalVisible: true,
      roomName: "",
      joinedRoom: false,
      game: false,
      clientid: "",
      errormessage: "",
      msg: "What will you do next ?",
      actionSelected: false,
      turnActions: [],
      won: false,
      gameEnded: false,
      apiAvailable: true
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("login");
        });
    },
    showModal() {
      this.isMoveModalVisible = true;
    },
    closeModal() {
      this.isMoveModalVisible = false;
    },
    getSelectedPokemon(pokemon) {
      var selected = { id: this.clientid, pokemon: pokemon };

      this.$socket.emit("choosePokemon", selected);
    },
    send(move) {
      var target = this.opponentPokemon;
      var usedMove = move;

      this.isMoveModalVisible = false;

      const msg = {
        id: this.clientid,
        target: {
          name: target.name,
          type: {
            id: usedMove.type.id,
            description: usedMove.type.description
          },
          hp: target.hp,
          speed: target.speed
        },
        usedMove: {
          description: usedMove.description,
          minDamage: usedMove.minDamage,
          maxDamage: usedMove.maxDamage,
          type: {
            id: usedMove.type.id,
            description: usedMove.type.description
          }
        }
      };

      this.turnActions.push(msg);
      this.actionSelected = true;
      this.$socket.emit("turn", this.turnActions);
      this.msg = "Waiting for your opponent...";
    },
    joinroom() {
      this.$socket.emit("joinGame", this.roomName);
    },
    createRoom() {
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < 15; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      this.roomName = result;
      this.joinroom();
    },
    endGame() {
      this.gameEnded = true;
      this.game = false;
    },
    resetData() {
      Object.assign(this.$data, this.$options.data());
    }
  }
};
</script>

<style lang="scss">
.field-left {
  height: 100%;
  width: 50%;
  float: left;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.field-right {
  height: 100%;
  width: 50%;
  float: right;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ApiError {
  padding: 10px;
  font-size: 16px;
  color: white;
  width: 50vh;
  margin: auto;
  background-color: #d36458;
  text-align: center;

  margin-top: 30vh;
  margin-bottom: 1vh;
}

.lobby {
  .header {
    display: flex;
    justify-content: flex-end;

    button {
      width: 10%;
      height: 40%;
      margin: 10px;

      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition: background 0.5s ease;
      background-color: #d5796e;

      &:hover {
        background-color: #d36458;
        cursor: pointer;
      }
    }
  }
  .roomOptions {
    text-align: center;
    margin-top: 20vh;

    h1 {
      font-size: 42px;
      font-weight: normal;
    }

    input {
      margin: 10px 0;
      width: 15%;
      padding: 15px;
      border: none;
    }

    button {
      color: white;
      border: none;
      margin: 10px 0;
      width: 7%;
      padding: 15px;
      transition: background 0.5s ease;
      background-color: #96b683;

      &:hover {
        background-color: #82ad6a;
        cursor: pointer;
      }
    }

    .error-message {
      padding: 10px;
      font-size: 12px;
      color: white;
      width: 20%;
      margin: auto;
      background-color: #d36458;

      margin-top: 1vh;
      margin-bottom: 1vh;
    }

    .wait {
      p {
        margin-bottom: 4vh;
      }
      span {
        background: #3a898f;
        color: white;
        padding: 10px;
        min-width: 20vh;
        width: 20vh;
        font-size: 20px;
        margin: auto;
      }
    }

    .new-room {
      margin-top: 10vh;

      button {
        width: 10%;
        font-size: 14px;
        background-color: #5d9b9f;

        &:hover {
          background-color: #3a898f;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
