<template>
  <div class="login">
    <h1>Battlemons</h1>

    <p>Login and start your adventure !</p>
    <input type="text" placeholder="email" v-model="email" />
    <br />
    <input type="password" placeholder="password" v-model="password" />
    <p class="error-message" v-if="error != ''">{{ error }}</p>
    <br />
    <button @click="login()">Login</button>
    <p class="no-account">
      Don't have an account? You can create one
      <router-link to="/register">here</router-link>
    </p>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(result => {
          this.$router.replace("game");
        })
        .catch(error => {
          this.error = error.message;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  margin-top: 25vh;
  text-align: center;

  h1 {
    font-size: 42px;
    font-weight: normal;
  }

  input {
    margin: 10px 0;
    width: 20%;
    padding: 15px;
  }

  button {
    margin-top: 1vh;
    font-size: 14px;
    width: 10%;
    height: 40%;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background 0.5s ease;
    background-color: #96b683;

    &:hover {
      background-color: #82ad6a;
      cursor: pointer;
    }
  }

  .no-account {
    margin-top: 10vh;
    font-size: 14px;

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .error-message {
    padding: 10px;
    font-size: 11px;
    color: white;
    width: 15%;
    margin: auto;
    background-color: #d36458;

    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
</style>
