<template>
  <div class="register">
    <h1>Battlemons</h1>
    <p>Create your new account now</p>
    <input type="text" placeholder="email" v-model="email" />
    <br />
    <input type="password" placeholder="password" v-model="password" />
    <br />
    <input type="password" placeholder="repeat your password" v-model="repeatedPassword" />
    <p class="error-message" v-if="error != ''">{{ error }}</p>
    <br />
    <button @click="register()">Sign up</button>
    <span>
      <router-link to="/login">Go back to login.</router-link>
    </span>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "register",
  data() {
    return {
      email: "",
      password: "",
      repeatedPassword: "",
      error: ""
    };
  },
  methods: {
    register() {
      if (this.repeatedPassword == this.password) {
        firebase
          .auth()
          .createUserWithEmailAndPassword(this.email, this.password)
          .then(result => {
            this.$router.replace("game");
          })
          .catch(error => {
            this.error = error.message;
          });
      } else {
        this.error = "Your passwords must match";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.register {
  margin-top: 25vh;
  text-align: center;

  h1 {
    font-size: 42px;
    font-weight: normal;
  }

  input {
    margin: 10px 0;
    width: 20%;
    padding: 15px;
  }

  button {
    margin-top: 1vh;
    font-size: 14px;
    width: 10%;
    height: 40%;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background 0.5s ease;
    background-color: #96b683;

    &:hover {
      background-color: #82ad6a;
      cursor: pointer;
    }
  }

  span {
    display: block;
    margin-top: 5vh;
    font-size: 12px;
  }
  .error-message {
    padding: 10px;
    font-size: 11px;
    color: white;
    width: 15%;
    margin: auto;
    background-color: #d36458;

    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
</style>
