<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
body {
  background-color: #f7f5f4;
}
#app {
  font-family: "Montserrat", sans-serif;

  overflow: hidden;
}
</style>
