<template>
  <div class="menu">
    <div class="menu-left-box">
      <div id="websocket-test" class="message-box">{{msg}}</div>
    </div>
    <div class="menu-right-box">
      <input
        class="btn fight"
        type="button"
        value="Fight"
        @click="$emit('show')"
        :disabled="actionSelected"
      />
      <input class="btn bag" type="button" value="Bag" :disabled="actionSelected" />
      <br />
      <input class="btn pkm" type="button" value="Pokémon" :disabled="actionSelected" />
      <input class="btn run" type="button" value="Run" :disabled="actionSelected" />
    </div>
  </div>
</template>

<script>
export default {
  name: "ActionMenu",
  props: {
    actionSelected: Boolean,
    msg: String
  },
  methods: {
    show() {
      this.$emit("showModal");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menu {
  background-color: #edddd4;
  height: 20%;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  .menu-left-box {
    background-color: #edddd4;
    height: 100%;
    width: 65%;
    float: left;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    padding: 1.5%;

    .message-box {
      background-color: #f7f5f4;
      height: 100%;
      width: 80%;
      padding: 3%;

      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */
    }
  }

  .menu-right-box {
    background-color: #edddd4;
    height: 100%;
    width: 35%;
    float: right;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    padding: 1.5%;
  }

  .btn {
    width: 40%;
    height: 40%;
    margin: 10px;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background 0.5s ease;
  }

  .fight {
    background-color: #d5796e;

    &:hover {
      background-color: #d36458;
      cursor: pointer;
    }
  }
  .bag {
    background-color: #edbd75;

    &:hover {
      background-color: #e2aa55;
      cursor: pointer;
    }
  }
  .pkm {
    background-color: #96b683;

    &:hover {
      background-color: #82ad6a;
      cursor: pointer;
    }
  }
  .run {
    background-color: #5d9b9f;

    &:hover {
      background-color: #3a898f;
      cursor: pointer;
    }
  }
}
</style>