
<template>
  <div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">Choose your Pokémon</slot>
            </div>
            <div class="modal-body">
              <div class="wait-opponent" v-if="waitingOpponent">
                <p>Waiting for your opponent to select their pokemon...</p>
                <p></p>
              </div>
              <div class="pokemon-selection" v-if="(!waitingOpponent) || (!AllPokemon.length)">
                <div
                  class="pokemonCard"
                  v-for="pokemon in AllPokemon"
                  :key="pokemon.id"
                  :ref="pokemon.id"
                  v-on:click="selectPokemon(pokemon)"
                >
                  <p>{{pokemon.name}}</p>
                  <img
                    v-bind:src="getImgUrl(pokemon.name)"
                    class="imagePokemon"
                    :alt="pokemon.name"
                  />
                  <p :class="pokemon.type.description">
                    <em v-if="pokemon.type.description === 'fire'" class="fas fa-fire-alt"></em>
                    <em v-if="pokemon.type.description === 'grass'" class="fas fa-seedling"></em>
                    <em v-if="pokemon.type.description === 'water'" class="fas fa-tint"></em>
                  </p>
                </div>
              </div>
              <slot name="body"></slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "choosepokemon-menu",
  data() {
    return {
      AllPokemon: [{ pokemon: [] }],
      waitingOpponent: false
    };
  },
  methods: {
    getImgUrl(pokemonName) {
      var images = require.context("../assets/", false, /\.png$/);
      if (pokemonName != null) {
        return images("./" + pokemonName + ".png");
      } else {
        return images("./undefined.png");
      }
    },
    selectPokemon(pokemon) {
      this.$emit("selectPokemon", pokemon);
      this.waitingOpponent = true;
    }
  },
  mounted() {
    axios
      .get("http://localhost:8081/api/pokemon")
      .then(response => {
        this.AllPokemon = response.data;
      })
      .catch(error => {
        if (error.response) {
          /*
           * The request was made and the server responded with a
           * status code that falls out of the range of 2xx
           */
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.$emit("apiError");
        } else if (error.request) {
          /*
           * The request was made but no response was received, `error.request`
           * is an instance of XMLHttpRequest in the browser and an instance
           * of http.ClientRequest in Node.js
           */
          console.log(error.request);

          this.$emit("apiError");
        } else {
          // Something happened in setting up the request and triggered an Error
          console.log("Error", error.message);

          this.$emit("apiError");
        }
      });
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap");

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 150vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #edddd4;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;

  overflow-y: auto;
}

.modal-container::-webkit-scrollbar {
  width: 10px;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #e2aa55;
}

.modal-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.modal-header {
  margin-top: 0;
  font-size: 1.5em;
}

.modal-body {
  margin: 3vh 0;

  .pokemon-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
  }

  .wait-opponent {
    text-align: center;
    min-height: 80vh;
    font-size: 1.2em;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pokemonCard {
  background-color: #f7f5f4;
  width: 20vh;
  margin: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.15);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .imagePokemon {
    width: 100%;
  }

  p {
    color: #505050;
    text-align: center;
    font-family: "PT Mono", monospace;
  }

  .fire {
    color: #d36458;
    font-size: 1.5em;
  }

  .grass {
    color: #96b683;
    font-size: 1.5em;
  }

  .water {
    color: #5d9b9f;
    font-size: 1.5em;
  }

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}
</style>