<template>
  <div class="game-over">
    <h1>{{gameoverMessage}}</h1>
    <p>{{gameoverDescription}}</p>
    <button v-on:click="backToLobby()">Back to lobby</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      gameoverMessage: "",
      gameoverDescription: ""
    };
  },
  props: {
    won: Boolean
  },
  methods: {
    backToLobby() {
      this.$emit("resetGame");
    }
  },
  mounted() {
    if (this.won) {
      this.gameoverMessage = "Congratulations!";
      this.gameoverDescription = "You've won";
    } else {
      this.gameoverMessage = "Defeat";
      this.gameoverDescription = "Your pokemon has fainted";
    }
  }
};
</script>
<style lang="scss" scoped>
.game-over {
  text-align: center;
  margin-top: 20vh;

  h1 {
    font-size: 42px;
    font-weight: normal;
  }

  button {
    color: white;
    border: none;
    margin: 10px 0;
    margin-top: 10vh;
    width: 7%;
    padding: 15px;
    transition: background 0.5s ease;
    background-color: #5d9b9f;

    &:hover {
      background-color: #3a898f;
      cursor: pointer;
    }
  }
}
</style>

