<template>
  <div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">Choose your move</slot>
              <button class="modal-close" @click="$emit('close')">x</button>
            </div>

            <div class="modal-body">
              <slot name="body">
                <table>
                  <th id="moveHeader"></th>
                  <tr>
                    <td
                      class="move-top-left"
                      :class="pokemon.moves[0].type.description"
                      v-on:click="useMove(pokemon.moves[0])"
                    >{{pokemon.moves[0].description}}</td>
                    <td
                      class="move-top-right"
                      :class="pokemon.moves[1].type.description"
                      v-on:click="useMove(pokemon.moves[1])"
                    >{{pokemon.moves[1].description}}</td>
                  </tr>
                  <tr>
                    <td
                      class="move-bottom-left"
                      :class="pokemon.moves[2].type.description"
                      v-on:click="useMove(pokemon.moves[2])"
                    >{{pokemon.moves[2].description}}</td>
                    <td
                      class="move-bottom-right"
                      :class="pokemon.moves[3].type.description"
                      v-on:click="useMove(pokemon.moves[3])"
                    >{{pokemon.moves[3].description}}</td>
                  </tr>
                </table>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "moves-menu",
  props: {
    pokemon: {
      type: Object,
      required: true
    }
  },
  methods: {
    close() {
      this.$emit("close");
    },
    useMove(move) {
      console.log(move);
      this.$emit("useMove", move);
    }
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap");

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #edddd4;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  margin-top: 0;
  font-size: 1.5em;
}

.modal-body {
  margin: 3vh 0;
}

.modal-close {
  float: right;
  border: none;
  color: #5f5f5f;
  background: none;
  font-size: 0.8em;

  &:hover {
    cursor: pointer;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

table {
  width: 100%;
  text-align: center;
  font-family: "PT Mono", monospace;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  td {
    width: 50%;
    height: 10vh;
    color: white;
  }

  .normal {
    background-color: #edbd75;

    &:hover {
      background-color: #e2aa55;
      cursor: pointer;
    }
  }

  .fire {
    background-color: #d36458;

    &:hover {
      background-color: #d36458;
      cursor: pointer;
    }
  }

  .water {
    background-color: #5d9b9f;

    &:hover {
      background-color: #3a898f;
      cursor: pointer;
    }
  }

  .grass {
    background-color: #96b683;

    &:hover {
      background-color: #82ad6a;
      cursor: pointer;
    }
  }
}
</style>