<template>
  <div class="opponent-field">
    <div class="info">
      <opponent-pokemon-info :pokemonName="pokemon.name" :pokemonHp="pokemon.hp"></opponent-pokemon-info>
    </div>
    <div class="pokemon">
      <opponent-pokemon-image :pokemonImgName="pokemon.name"></opponent-pokemon-image>
    </div>
  </div>
</template>

<script>
export default {
  name: "OpponentField",
  props: {
    pokemon: {
      type: Object,
      required: true
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.info {
  top: 5%;
  height: 30%;
}

.pokemon {
  height: 50%;
  margin: 5%;
}
</style>