<template>
  <div class="pokemon-info">
    <table>
      <th id="InfoOpponent"></th>
      <tr>
        <td>
          <h1>{{pokemonName}}</h1>
        </td>
        <td class="pokeballs">
          <img v-bind:src="images.fainted" class="pokeball" alt="pokeball" />
          <img v-bind:src="images.fainted" class="pokeball" alt="pokeball" />
          <img v-bind:src="images.pokeball" class="pokeball" alt="pokeball" />
          <img v-bind:src="images.pokeball" class="pokeball" alt="pokeball" />
          <img v-bind:src="images.pokeball" class="pokeball" alt="pokeball" />
          <img v-bind:src="images.pokeball" class="pokeball" alt="pokeball" />
        </td>
      </tr>
      <tr>
        <td>
          <h2>Hp: {{pokemonHp}}</h2>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "UserPokemonInfo",
  data() {
    return {
      images: {
        pokeball: require("../assets/pokeball.png"),
        fainted: require("../assets/pokeball-fainted.png")
      }
    };
  },
  props: {
    pokemonName: String,
    pokemonHp: Number
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.pokemon-info {
  background-color: #edddd4;
  height: 100%;
  width: 50%;
  padding: 1.5%;
  padding-left: 5%;
  margin-right: -1.5%;

  float: right;

  h1 {
    font-size: 20px;
    font-weight: normal;
  }
  h2 {
    font-size: 16px;
    font-weight: normal;
  }

  table {
    width: 100%;
  }

  .pokeballs {
    text-align: right;
    padding-right: 5%;
  }

  .pokeball {
    width: 1.9vh;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}
</style>