<template>
  <div class="pokemon-image">
    <img v-bind:src="getImgUrl(pokemonImgName)" class="pokemon" alt="Pokemon" />
    <img v-bind:src="images.shadow" class="shadow" alt="Shadow" />
  </div>
</template>

<script>
export default {
  name: "UserPokemonImage",
  data() {
    return {
      images: {
        shadow: require("../assets/shadow.png")
      }
    };
  },
  props: {
    pokemonImgName: String
  },
  methods: {
    getImgUrl(pokemonName) {
      var images = require.context("../assets/", false, /\.png$/);
      return images("./" + pokemonName + ".png");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.pokemon {
  margin: auto;

  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 600px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.shadow {
  margin: auto;
  z-index: -1;

  position: absolute;
  bottom: 25%;
  left: 10%;
}
</style>