<template>
  <div class="user-field">
    <div class="info">
      <user-pokemon-info :pokemonName="pokemon.name" :pokemonHp="pokemon.hp"></user-pokemon-info>
    </div>
    <div class="pokemon">
      <user-pokemon-image :pokemonImgName="pokemon.name"></user-pokemon-image>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserField",
  props: {
    pokemon: {
      type: Object,
      required: true
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.info {
  top: 5%;
  height: 30%;
}

.pokemon {
  height: 50%;
  margin: 5%;
}
</style>